* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* Landing Page */

.header {
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20rem;
    height: 100%;
}

.site-title {
    text-align: center;
}

.site-title.title{
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 10rem;
    margin: 1rem;
}

.site-title.subtitle {
    font-family: "Albert Sans", sans-serif;
    font-size: 2rem;
}

/* Login Page */

.login-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: calc(100vw / 15);
    background-color: #b82025;
    overflow: hidden;
    margin: 0;
}

.gu-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    width: 20%;
    height: 100%;
}
.gu-logo img {
    width: 100%;
    object-fit: contain;
}

.login-nav-header-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    padding-right: 10px;   
}

.actua-logo {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
    width: 49%;
    height: 100%;
}

.actua-logo img {
    width: 100%;   
    object-fit: contain;
}

.login-nav-header-right-separator {
    background-color: white;
    width: 2px;
    height: 60%;
    margin: 0 30px 0 30px;
}

.ubc-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    width: 49%;
    height: 100%;
}
.ubc-logo img {
    width: 100%;  
    object-fit: contain;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.login-header-container {
    display: flex;
    flex-direction: column;
}

.login-header {
    font-family: "Lexend", sans-serif;
    font-weight: 800;
    font-size: 3rem;
    margin: 1rem;
    color: #b82025;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    width: 100%;
    border: 0px solid black;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    background-color: white;
}

.login-input-password-label {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 800;
    font-size: 1rem;
}

.login-input-password {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 800;
    font-size: 1rem;   
    width: 100%;
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.login-input-username-label {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 800;
    font-size: 1rem;
}

.login-input-username {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 800;
    font-size: 1rem;
    width: 100%;
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.login-button-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.login-button {
    font-family: "Lexend", sans-serif;
    font-weight: 800;
    font-size: 2rem;
    width: 100%;
    padding: 1rem;
    border: 0 solid black;
    border-radius: 50px;
    color: white;
    background-color: #b82025;
    margin: 1rem;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #671215;
}

.login-button:active {
    background-color: #671215;
    box-shadow: 5px 5px 33px 3px #3b3b3b inset;
}

/* Admin Page */

.admin-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.admin-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.admin-header-container {
    display: flex;
    flex-direction: column;
}

.admin-header {
    font-family: "Lexend", sans-serif;
    font-weight: 800;
    font-size: 4rem;
    margin: 1rem;
}

.admin-content-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.admin-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: #b82025;
    width: 20%;
    height: 100%;
    padding: 0rem;
    margin: 0;
}

.admin-sidebar-item {
    text-decoration: none;
    font-family: "Lexend", sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    color: white;
    width: 100%;
    justify-content: left;
    align-items: center;
    padding: 1rem;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

.admin-sidebar-item:hover {
    background-color: white;
    color: #b82025;
}

.admin-content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: 80%;
    height: 100%;
    padding: 0rem;
    margin: 0;
}

.admin-content-header {
    font-family: "Lexend", sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    margin: 1rem;
    color: #b82025;
}

.section-header {
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin: 1rem;
}

.text-input-label {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 800;
    font-size: 1rem;
    margin: 1rem;
}

.text-input {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    width: 100%;
    background-color: white;
}

.institutions-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin: 0;
}

.institutions-content {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
    padding: 1rem;
}

.institutions-content-add {
    padding: 0.5rem;
}

.institutions-content-remove {
    padding: 0.5rem;
}

.institutions-content-edit {
    padding: 0.5rem;
}

.manage-users-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin: 0;
}